nav {
  a {
    &.active {
      background-color: rgba(255, 255, 0, 0.6);
      color: rgb(255, 127, 0);
    }
    .ciruclo {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #000000;
      margin-right: 0.2rem;
      &.por-renovar {
        background-color: yellow;
      }
      &.sin-renovar {
        background-color: red;
      }
      &.renovadas {
        background-color: green;
      }
    }
  }
}
mat-ink-bar {
  .mat-ink-bar {
    background-color: orange !important;
  }
}