<mat-form-field appearance="fill">
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" [placeholder]="'component.calendario.fechaInicio' | translate" (ngModelChange)="changeFch()">
    <input matEndDate formControlName="end" [placeholder]="'component.calendario.fechaFin' | translate" (ngModelChange)="changeFch()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">{{ 'component.calendario.InvalidStart' | translate }}</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{ 'component.calendario.InvalidEnd' | translate }}</mat-error>
</mat-form-field>
