<div class="select">
  <div class="btn-fecha" (click)="tipoSelect = !tipoSelect">
    <div class="texto-periodo">
      Periodo
    </div>
    <div class="texto-fecha">
      {{ fechaIn ? (fechaIn | date: 'dd/MM/yyyy') : 'Fecha Inicio'}} - {{fechaFn ? (fechaFn | date: 'dd/MM/yyyy') : 'Fecha Fin'}}
    </div>
    <div class="icon">
      <ng-container *ngIf="tipoSelect else openIcon">▲</ng-container>
      <ng-template #openIcon>▼</ng-template>
    </div>
  </div>
  <ng-container *ngIf="tipoSelect">
    <div class="contenido">
      <div class="titulo">Confirmar las fechas seleccionadas</div>
      <div class="contenido-fecha">
        <app-calendario [limpiar]="(limpiar)" (rangoFechas)="getFecha($event)"></app-calendario>
      </div>
      <div class="btn-contenido">
        <button mat-raised-button (click)="confirmar()">Aplicar</button>
        <button mat-raised-button (click)="btnLimpiar()">Limpiar</button>
      </div>
    </div>
  </ng-container>
</div>